#### GINI and GDP data for WDVP

In [1]:
import pandas as pd # wrangling
import numpy as np # stats
import wget # api call
import zipfile # unzip folders

In [15]:
# only need to run this cell once! data download & unzipping
# read in GINI data from WorldBank
URL = "https://api.worldbank.org/v2/en/indicator/SI.POV.GINI?downloadformat=csv"
data_zipped = wget.download(URL)

# unzip
with zipfile.ZipFile(data_zipped,"r") as zip_ref:
    zip_ref.extractall("gini_data")

In [51]:
# read in data
gini_df = pd.read_csv('gini_data/API_SI.POV.GINI_DS2_en_csv_v2_4770433.csv', skiprows=[0,1,2])

# keep only data for the most recent 10 years (starting 2020 because 2021 only has one observation)
print(gini_df['2021'].isna().sum())

col_list = ['Country Name','Country Code','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']

gini_df = gini_df.loc[:, col_list]
gini_df

265

,Country Name,Country Code,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,27.8,29.0,26.3,27.3,26.5,26.7,29.0,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,36.7,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,NaN,NaN,NaN,NaN,57.1,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,43.2,NaN,NaN,NaN,NaN,NaN,44.3,NaN,50.3,NaN

In [57]:
# group by continent
# countries by continent csv file: found on github
data_country = pd.read_csv("https://raw.githubusercontent.com/dbouquin/IS_608/master/NanosatDB_munging/Countries-Continents.csv")

data_country

         Continent    Country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

In [ ]:
# merge by country name. we want fuzzy join because some of the names are not exactly the same